{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}CodeMaverick{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> {% endcomment %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Victor+Mono:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'CodeMaverick/styles.css' %}">
    </head>
    <body>
        <nav class="navbar">
            <a id="title" class="nav_link" href="{% url 'home' %}"><strong>CodeMaverick</strong></a>
            {% if user.is_authenticated %}
            <a id="profile_btn" class="nav_link" href="{% url 'profile' %}"><strong>{{ user.username }}</strong></a>
            {% endif %}
            {% comment %} <a id="flwing_btn" class="nav_link" href="{% url 'profile' %}">Profile</a> {% endcomment %}
            <a id="teams_btn" class="nav_link" >Teams</a>
            <a id="blocklist_btn" class="nav_link">Solve</a>
            <a class="nav_link" href="{% url 'home' %}">Discuss</a>
            {% if user.is_authenticated %}
            <a class="nav_link" href="{% url 'logout' %}">Log Out</a>
            {% else %}
            <a class = "login_btn nav_link" id ="login_btn" href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
        <div id="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'CodeMaverick/index.js' %}"></script>
    <script src="{% static 'CodeMaverick/chat.js' %}"></script>
</html>